<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
    $("document").ready(function(){
        $("form").submit(function(e) {

            e.preventDefault();
            e.returnValue = false;

            // alert($("#textchat").val())
            socket.emit('send chat', $("#textchat").val());
            $("#textchat").val('')
            $("#textchat").focus()

        });

        $("#textchat").val('')
        $("#textchat").focus()
    });
    socket.on('auth', function()
    {
        var name;
        UIkit.modal.prompt("Name:", name, function(newvalue){
            socket.emit('set name', newvalue)
        });
    })
    socket.on('invalid username', function()
    {
        var newname;
        UIkit.modal.prompt("Invalid name try again:", newname, function(newvalue){
            socket.emit('set name', newvalue)
        });

    })
    socket.on('enable', function(){
        $("#textchat").removeClass('uk-hidden');
        $("#chat").removeClass('uk-hidden');
        $("#textchat").val('')
        $("#textchat").focus()
    })
    socket.on('log', function(text)
    {
        $("#chat").append(text+"\n")
        $("#textchat").val('')
        $("#textchat").focus()
        $('#chat').scrollTop($('#chat')[0].scrollHeight);
    });
    socket.on('inject', function(e)
    {
        var element = $($.parseHTML(e));
        $(".uk-panel").prepend(element);
    })
    socket.on('userlist', function(users)
    {
        $("#ulist").html(users);
    })
    socket.on('kicked', function()
    {
        $("#my-id").remove();
        $("#my-button").remove();
        $(".uk-panel > center").html("You were kicked");
    })
    socket.on('banned', function()
    {
        $("#my-id").remove();
        $("#my-button").remove();
        $(".uk-panel > center").html("You are banned");
    })
</script>