doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/compf.css')
  body
    a(href="/compf")
      video(autoplay,loop).vid
        source(src="video.webm",type="video/webm")
    a(href="#")
    include text.html