extends layout

block content
    div.uk-grid
        div.uk-width-1-1.uk-clearfix
            div.uk-panel.uk-panel-space.center.uk-width-1-1
                center
                    div.uk-button-dropdown(data-uk-dropdown="{mode:'click'}")
                        button.uk-button.compbutton comp.pw
                            i.uk-icon-caret-down(style="margin-left:20px;")
                        div.uk-dropdown.uk-dropdown-bottom
                            ul.uk-nav.uk-nav-dropdown
                                li: a(href="http://steamcommunity.com/id/compsito/") Steam
                                        i.uk-icon.uk-icon-steam-square
                                li: a(href="/paste") Paste
                                        i.uk-icon.uk-icon-paste
                                li: a(href="/upload") Upload
                                        i.uk-icon.uk-icon-upload
                                li: a(href="/compf") Webms
                                        i.uk-icon.uk-icon-file-video-o
                                li: a(href="http://ayylmao.online/") Tumblr
                                        i.uk-icon.uk-icon-tumblr
                                li: a(href="http://hackforums.net/member.php?action=profile&uid=1106962") Hackforums
                                        i.uk-icon.uk-icon-money
                                li: a(href="https://github.com/comp") Github
                                        i.uk-icon.uk-icon-github
        div.uk-width-1-1.uk-position-bottom
            center
                img(src="http://i.imgur.com/9cH3WFb.png",width="650px",height="200px")