extends layout

block content
    div.uk-grid
        div.uk-width-1-1.uk-clearfix
            div.uk-panel.uk-panel-space.center.uk-width-1-1
                center
                    form.uk-form(method="post")
                        div.uk-form-row
                            textarea(cols="80",rows="25",placeholder="",id="paste",name="paste").uk-form-lage.uk-width-1-1
                            p.uk-form-help-block
                        br
                        div.uk-form-row
                            input(type="submit", value="Paste").uk-form-row.uk-form-large.uk-button#submit